.AboutContainer {
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(0, 212, 0);
}

.AboutContent {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.AboutBio {
    font-size: 2.5em;
    padding-bottom: 50px;
}

.SkillsSection {
    color: #2a2d2d;
    padding-top: 50px;
}

.SkillsHeading {
    font-size: 2.25em;
}

.SkillsLogo {
    height: 75px;
    width: 75px;
    padding: 10px;
}

.MiscHeading {
    color: #2a2d2d;
    font-size: 2.25em;
    padding-top: 50px;
}

.facts {
    font-size: 1.25em;
}

#netlify {
    height: 75px;
}

.bio {
    margin: auto 10%;
}

.skills {
    margin: auto 10%;
}