.AboutContainer {
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 212, 0);
}

.AboutContent {
    width: 65%;
}

.AboutBio {
    font-size: 2em;
    text-align: center;
    padding-bottom: 25px;
}

.SkillsSection {
    color: #2a2d2d;
    font-size: 2em;
    text-align: center;
}

.SkillsLogo {
    height: 60px;
    width: 60px;
    padding: 10px;
}

#netlify {
    height: 75px;
}

.bio {
    margin: auto 10%;
}

.skills {
    margin: auto 10%;
}