.ContactContainer {
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(0, 212, 0);
}

.ContactPage {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.ContactHeading {
    font-size: 2.5em;
    padding-bottom: 5px;
}

.ContactSubHeading {
    font-size: 1.5em;
    padding-bottom: 25px;
}

.ContactLinks {
    color: #2a2d2d;
    padding: 10px;
    text-decoration: none;
}

.ContactClosing {
    font-size: 2em;
    color: #2a2d2d;
    padding-top: 100px;
}