.ContactContainer {
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #1fb100;
}

.ContactPage {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.ContactHeading {
    font-size: 3vw;
    padding-bottom: 5px;
}

.ContactSubHeading {
    font-size: 1.5vw;
    padding-bottom: 25px;
}

.ContactLinks {
    color: #2a2d2d;
    padding: 10px;
    text-decoration: none;
}

.ContactLinks:hover {
    color: #1fb100;
}

.PageBreak {
    color: #c0c0c0;
    margin-top: 50px;
}

.ContactClosing {
    font-size: 2.5vw;
    color: #2a2d2d;
    margin-top: 50px;
}

@media screen and (max-width: 600px) {

    .ContactPage {
        width: 90%;
    }

    .ContactHeading {
        font-size: 1.8em;
    }

    .ContactSubHeading {
        font-size: 1em;
    }

    .ContactClosing {
        font-size: 1.8em;
    }
}