.HomePage {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.HomePageContainer {
    /* background-color: #1fb100; */
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg, #006A6A 0%, #00884C 13%, #00A72D 25%, #00C50F 38%, #00D400 50%, #0FC500 62%, #2DA700 75%, #4C8800 87%, #6A6A00 100%);
    background-size: 400% 400%;
    position: relative;
    animation: animate 7.5s ease-in-out infinite;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
}

@keyframes animate{
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0 50%;
    }
}

.Heading {
    font-size: 6vw;
}
  
.SubHeading {
    font-size: 3.5vw;
}

/* ------MEDIA QUERY (PHONE)------ */
@media screen and (max-width: 600px) {
    .Heading {
        font-size: 2em;
    }

    .SubHeading {
        font-size: 1.5em;
    }
}