.ProjectsContainer {
    background-color: #2a2d2d;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

.ProjectPage {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ProjectsHeader {
    font-size: 3em;
    text-align: center;
    padding: 25px;
}

.ProjectsSection {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.Project {
    font-size: 1.5em;
    height: 550px;
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: white;
    color: #2a2d2d;
    padding: 15px;
}

img {
    height: 200px;
    width: 300px;
}

h4 {
    padding-top: 10px;
}

p {
    font-size: .75em;
    padding-top: 20px;
}

.ProjectBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Project2 {
    margin: 0 75px;
}

.ProjectLinks {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #2a2d2d;
    text-decoration: none;
    padding: 0 25px;
    
}

/* .GithubButton {
    margin: 1%;
}

button {
    background-color: silver;
    border-radius: 10%;
} */
