.ProjectsContainer {
    background-color: #2a2d2d;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

.ProjectPage {
    width: 65%;
}

.ProjectsHeader {
    font-size: 3em;
    text-align: center;
}

.ProjectsSection {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.Project2 {
    margin: 0 5%;
}


/* img {
    height: 25vh;
    width: 25vw;
}

.GithubButton {
    margin: 1%;
}

button {
    background-color: silver;
    border-radius: 10%;
} */
