.NavBar {
    display: flex;
    justify-content: space-around;
    background-color: silver;
    border-radius: 5%;
    padding: 8px;
    width: 90%;
    margin: auto;
    text-align: center;
}

.NavLink {
    color: black;
    text-decoration: none;
}